:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #eddcb5;
  text-decoration: inherit;
}
a:hover {
  color: #e8c67c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  filter: drop-shadow(7px 10px 1px rgba($color: #1c1b1b, $alpha: .7));
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-card {
  background-color: #332e2f;
  padding: 2em;
  border-radius: 1.3em;
  box-shadow: 7px 10px 1px 4px rgba($color: #1c1b1b, $alpha: .6);
}

.link-v-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  a {
    margin: 0.1em;
  }
}
/*
.sns-link-wrapper {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 14rem;
}
*/

.profile-img-shadow {
  transition: all 0.4s ease;
}

.profile-img-shadow:hover {
  filter: drop-shadow(0 0 20px rgba(194, 187, 161, 0.6));
}

.profile-img {
  width: 150;
  height: 150px;
  clip-path: circle(75px at center);
}

.message {
  font-weight: 500;
  margin-bottom: 2em;
  margin-top: 0em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  
}
